# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot generated help file
HELP.md

# Eclipse & Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Logs
*.log

# Docker
*.jar
*.war
*.ear

# Build folders from inside source directories
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
